@model FitnessAmeera.Models.FitnessTips

@{
    ViewBag.Title = "إضافة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@*ameera*@        @* إنشاء ارشاد  *@      @*45149*@
<div class="row thumbnail" style="background-color:white;padding-bottom:100px;margin:1px">
    <div style="background:url(../../Content/images/Blog-sportvoeding2.jpg)  fixed repeat ;height:220px;">
    </div>
    <div class="col-md-12 thumbnail" style="background-color:lavender;margin-top:5px">
        <h4 style="text-align:center;color:black">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; إنشاء صنف جديد
        </h4>


    </div>
    @using (Html.BeginForm("Create", "FitnessTips", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="padding-right:100px">
            <div class="alert alert-danger " id="ErrorDiv" style="display:none">
                <span id="error"></span>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.TipTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TipTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TipTitle, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TipSummary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.TipSummary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TipSummary, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.TipDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.TipDetails, new { htmlAttributes = new { @class = "form-control", @id = "TipDetails" } })
                    @Html.ValidationMessageFor(model => model.TipDetails, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group">
                @Html.LabelFor(model => model.TipStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("TipStatus", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipStatus, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.ArticalesTypesID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("ArticalesTypesID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ArticalesTypesID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TipImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <input type="file" name="upload" id="upload-file">
                    @Html.ValidationMessageFor(model => model.TipImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="padding-bottom:10px">
                    <input type="submit" value="إضافة" id="save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


    <p class="col-md-3 btn-lg btn-primary" role="button" style="margin-right:10px">

        <span class="glyphicon glyphicon-share-alt"></span>
        &nbsp;

        @Html.ActionLink("العودة إلى القائمة ", "Index", null, new { @style = "color:black;font-weight:500" })

    </p>

</div>


@section scripts{
    <script>

        $(function () {
            $("#save").click(function () {
                if ($("#upload-file").val() == "") {
                    $("#ErrorDiv").fadeIn();
                    $("#error").append("قم بتحميل صورة مناسبة للمقال");
                    return false;

                }
                var filename = document.getElementById("upload-file").value;
                var extensionImg = filename.substr(filename.lastIndexOf('.') + 1);
                var validextention = ['jpg', 'jepj', 'png', 'gif', 'bmp'];
                if ($.inArray(extensionImg, validextention) == -1) {

                    $("#ErrorDiv").fadeIn();
                    $("#error").append("قم بتحميل صورة مناسبة للمقال");
                    return false;
                }
                var filesize = document.getElementById("upload-file").files[0].size / 1024 / 1024;
                if (filesize > 2) {

                    $("#ErrorDiv").fadeIn();
                    $("#error").append("هذه الصورة ذات حجم كبير.");
                    return false;
                }


            });


        });
        CKEDITOR.replace("TipDetails");

    </script>
}









