@model FitnessAmeera.Models.FitnessTips

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row thumbnail" style="background-color:white;padding-bottom:50px;margin:1px">
    <div style="background:url(../../Content/images/Blog-sportvoeding2.jpg)  fixed repeat ;height:220px;">
    </div>
    <div class="col-md-12 thumbnail" style="background-color:lavender;margin-top:5px">
        <h4 style="color:black">
            <span class="glyphicon glyphicon-trash"></span>&nbsp;هل أنت متأكد من أنك تريد حذف هذا الارشاد؟
        </h4>


    </div>

    <div class="col-md-6">
        <img src="~/uploads/@Html.DisplayFor(model => model.TipImage)" class="img-responsive thumbnail" style="width:500px; height:400px" />

        <br />
        <br />

    </div>
    <div class="table-responsive col-md-6">
        <table class="table  table-hover" style="margin-bottom:30px">


            <tr>
                <th style="border-top:0px; border-bottom: 1px solid #ddd;font-weight:900 ">
                    @Html.DisplayNameFor(model => model.TipTitle):

                </th>
                <td style="border-top:0px; border-bottom: 1px solid #ddd; ">
                    @Html.DisplayFor(model => model.TipTitle)
                </td>
            </tr>

            <tr>
                <th style="border-top:0px; border-bottom: 1px solid #ddd; font-weight:900">
                    @Html.DisplayNameFor(model => model.TipSummary):

                </th>
                <td style="border-top:0px; border-bottom: 1px solid #ddd; ">
                    @Html.DisplayFor(model => model.TipSummary)
                </td>
            </tr>
            <tr>
                <th style="border-top:0px; border-bottom: 1px solid #ddd; font-weight:900">
                    @Html.DisplayNameFor(model => model.TipStatus):

                </th>
                <td style="border-top:0px; border-bottom: 1px solid #ddd; ">
                    @Html.DisplayFor(model => model.TipStatus)
                </td>
            </tr>
            <tr>
                <th style="border-top:0px; border-bottom: 1px solid #ddd;font-weight:900 ">
                    @Html.DisplayNameFor(model => model.ArticlesTypes.Type):
                </th>
                <td style="border-top:0px; border-bottom: 1px solid #ddd;">

                    @Html.DisplayFor(model => model.ArticlesTypes.Type)
                </td>
            </tr>

            <tr>
                <th style="border-top:0px; border-bottom: 1px solid #ddd;font-weight:900 ">
                    @Html.DisplayNameFor(model => model.TipDate):

                </th>
                <td style="border-top:0px; border-bottom: 1px solid #ddd; ">
                    @Html.DisplayFor(model => model.TipDate)
                </td>
            </tr>
        </table>
        <br />
        <br />


        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()



            <div class="form-actions no-color">
                <p>

                    <input type="submit" value="حذف" class="col-md-3 btn-lg btn-danger glyphicon glyphicon-trash" role="button" style="margin-right:10px;color:black;font-weight:500" />



                </p>

                <p class="col-md-5 btn-lg btn-primary" role="button" style="margin-right:10px">

                    <span class="glyphicon glyphicon-share-alt"></span>
                    @Html.ActionLink("العودة إلى القائمة", "Index", null, new { @style = "color:black;font-weight:500" })

                </p>


            </div>
        }

    </div>
</div>
