@model FitnessAmeera.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "تغيير كلمة المرور";
}
<div class=" row thumbnail " style="background-color:white;padding-bottom:100px;margin:1px">

    @if (Request.IsAuthenticated && User.IsInRole("SuperUsers"))
    {
        <div style="background:url(../../Content/images/Blog-sportvoeding2.jpg)  fixed repeat ;height:220px;">
        </div>

    }
    else if (Request.IsAuthenticated && User.IsInRole("Admins"))
    {
        <div style="background:url(../../Content/images/adminheader.jpg)  fixed no-repeat ;height:200px;">
        </div>
    }
    else
    {
        <div style="background:url(../../Content/images/sport-zdrowie-mini-jpg.jpg) ;background-size:cover; height:220px;">
        </div>
    }
    <div class="col-md-12 thumbnail" style="background-color:lavender;margin-top:5px">
        <h4 style="text-align:center ;color:black">
            <span class="glyphicon glyphicon-alert"></span>  تغيير كلمة المرور

        </h4>
    </div>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="تغيير " class="btn btn-default" />
            </div>
        </div>
    }
</div>



